body {
    width: 100%;
    background: url(../images/parent_ground1024.png) no-repeat;
    overflow-x: hidden;
}

li {
    list-style-type: none;
    float: right;
    color: white;
}

#parenthead {
    float: left;
    position: absolute;
    left: 52px;
    top: 142px;
}

#name {
    position: absolute;
    left: 172px;
    top: 150px;
    font-size: 12px;
}

h1 {
    font-size: 17px;
    font-weight: bold;
}

p {
    font-size: 16px;
    color: white;
    font-weight: bold;
    position: absolute;
    left: 52px;
    top: 285px;
}

#p2 p {
    position: absolute;
    left: 52px;
    top: 532px;
}

#chat {
    /*background:white;*/
    /*position:absolute;*/
    /*left:70px;*/
    /*top:390px;*/
    /*width:1020px;*/
    /*height:230px;*/
    /*border:1px rgb(230,130,137) solid;*/
    /*border-radius: 5px;*/
}

#send {
    margin-top: 75px;
    font-size: 12px;
    /*border:1px rgb(230,130,137) solid;*/
    border-radius: 5px;
}

#seriesline textarea {
    position: absolute;
    left: 52px;
    top: 312px;
    border: 1px rgb(38, 159, 167) solid;
    border-radius: 5px;

    width:765px;
    height:172px;

}

#seriesline textarea:hover {
    border: 1px rgb(38, 159, 167) solid;
    -webkit-transition: border linear .2s, -webkit-box-shadow linear .5s;
    border-color: rgba(38, 159, 167, .75);
    -webkit-box-shadow: 0 0 18px rgba(255, 255, 255, 2);
    border-radius: 5px;
}

#left {
    margin-top: 487px;
    margin-left: 57px;
    font-size: 12px;
    /*border:1px rgb(230,130,137) solid;*/
    /*border-radius: 5px;*/
}

#mid {
    float: right;
    margin-top: -21px;
    margin-right: -101px;
}

button {
    margin: -26px 85px;
    float: right;
}

#write p {
    position: absolute;
    left: 525px;
    top: 990px;
    color: black;
}

#write img {
    position: absolute;
    left: 570px;
    top: 1035px;
}

#chatwindow {
    background: #8dfa69;
    width: 375px;
    height: 75px;
    position: absolute;
    left: 150px;
    top: 22px;
    border-radius: 5px;
}

#message {
    width: 765px;
    height:400px;
    background: white;
    position: absolute;
    left: 52px;
    top: 562px;
    border-radius: 5px;
    -webkit-transition: border linear .2s, -webkit-box-shadow linear .5s;
    border-color: rgba(38, 159, 167, .75);
    -webkit-box-shadow: 0 0 18px rgba(255, 255, 255, 3);
}
#message img{
    border-radius: 50%;
}
.jp-container {
    width: 100%;
    height: 400px;
    position: relative;
    background-color: transparent;
    float: left;
}

.jp-container .talk_recordbox {
    min-height: 80px;
    color: #afafaf;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 0px;
}

.jp-container .talk_recordbox:first-child {
    border-top: none;
}

.jp-container .talk_recordbox:last-child {
    border-bottom: none;
}

.jp-container .talk_recordbox .talk_recordtextbg {
    float: left;
    width: 10px;
    height: 30px;
    display: block;
    background-image: url(../images/talk_recordtext.png);
    background-repeat: no-repeat;
    background-position: left top;
}

.jp-container .talk_recordbox .talk_recordtext {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #b8d45c;
    width: 300px;
    height: auto;
    display: block;
    padding: 5px;
    float: left;
    color: #333333;
}

.jp-container .talk_recordbox h3 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 100;
    line-height: 25px;
    margin-top: 5px;
}

.jp-container .talk_recordbox .user {
    float: left;
    display: inline;
    height: 45px;
    width: 45px;
    margin-top: 0px;
    margin-right: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}


/*自己发言样式*/

.jp-container .talk_recordboxme {
    display: block;
    min-height: 80px;
    color: #afafaf;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 0px;
}

.jp-container .talk_recordboxme .talk_recordtextbg {
    float: right;
    width: 10px;
    height: 30px;
    display: block;
    background-image: url(../images/talk_recordtextme.png);
    background-repeat: no-repeat;
    background-position: left top;
}

.jp-container .talk_recordboxme .talk_recordtext {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #8DFA69;
    width: 300px;
    height: auto;
    padding: 5px;
    color: #666;
    font-size: 12px;
    float: right;
}

.jp-container .talk_recordboxme h3 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 100;
    color: #333333;
    line-height: 25px;
    margin-top: 5px;
}

.jp-container .talk_recordboxme .user {
    float: right;
    height: 45px;
    width: 45px;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 5px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    display: inline;
}

.talk_time {
    color: #666;
    text-align: right;
    display: block;
}

#page {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

#spect p {
    color: white;
    position: absolute;
    left: 70px;
    top: 988px;
}

#spect p img {
    padding-top: 52px;
    width:75%;
    height:75%;
    position:absolute;
    left:170px;
    top:1035px;
    z-index: 15;
}

.footer {
    background: url(../images/footer1024.png) no-repeat;
    height: 120px;
}

.footer ul {
    width: 467px;
    margin: 740px auto 0 auto;
    padding-top: 20px;
}

.footer ul li {
    list-style-type: none;
    margin-top: 17px;
    color: #7d7a7d;
}

#footerli a {
    padding-left: 30px;
    margin-left: 5px;
    color: #7d7a7d;
}
