
        <div class="col-md-10 col-md-offset-2 ">
            <ol class="breadcrumb">
                <li><a href="main.html">首页</a></li>
                <li><a href="#">资源管理</a></li>
                <li class="active">修改资源信息</li>
            </ol>
            <h3 class="down">修改资源信息<small>Resource Edit</small></h3>
            <div class="list-group form">
                <form enctype="multipart/form-data" class="form-horizontal" role="form" method="post">
                <input type="hidden" name="resource_id" value="{$resource.resource_id}" />
                    <div class="list-group-item">
                        <label for="inputEmail3" class="col-sm-2 control-label">资源名称</label>
                        <div class="col-sm-10">
                            <input type="input" name="title" class="form-control" id="inputEmail3" placeholder="" value="{$resource.title}">
                        </div>
                    </div>
                    <div class="list-group-item">
                        <label for="inputEmail3" class="col-sm-2 control-label">资源封面</label>
                        <div class="col-sm-10">
                            <input type="file" name="path" class="form-control" id="inputEmail3">
                        </div>
                    </div>
                    <div class="list-group-item">
                        <label for="inputEmail3" class="col-sm-2 control-label">发布人</label>
                        <div class="col-sm-10">
                            <input type="input" name="author" class="form-control" id="inputEmail3" placeholder="" value="{$resource.author}">
                        </div>
                    </div>
                    <div class="list-group-item">
                        <label for="inputEmail3" class="col-sm-2 control-label">添加时间</label>
                        <div class="col-sm-10">
                            <input type="input" name="publishTime" class="form-control" id="inputEmail3" value="<?php echo date('Y-m-d  H:i');?>">
                        </div>
                    </div>
                    <div class="list-group-item">
                        <label for="inputEmail3" class="col-sm-2 control-label">摘要</label>
                        <div class="col-sm-10">
                            <textarea id="editor_id" name="summary" style="width:90%;height:300px;">
                                {$resource.summary}</textarea>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="col-sm-offset-2 col-sm-5">
                            <div class="row">
                                <div class=" col-sm-5">
                                    <button type="submit" class="btn btn-primary">修 改 资 源</button>
                                </div>
                                <div class=" col-sm-5">
                                    <button type="submit" class="btn btn-warning">重 置 内 容</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
   
