/* 导航栏 */

#body {
    position: fixed;
    top: 45px;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
}

.global-nav-inner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
}

.global-nav-container {
    margin-left: 90px;
}

.global-nav [role=navigation],
.nav,
.nav>li {
    float: left;
}

.nav {
    margin-right: 12px;
    text-align: left;
}

#global-actions>li {
    height: 40px;
    overflow: hidden;
    color: #66757f;
}

.global-nav--newLoggedOut #global-actions li a {
    border-bottom-color: #ff7b0a;
}

#global-actions li:hover {
    border-bottom: 5px solid #ff7b0a;
    transition: all .20s ease-in;
    color: #ff7b0a;
}
#global-nav-home span img{
    height: 25px;
    margin-top: 7px;
}
.nav>li>a {
    color: inherit;
    display: block;
    font-size: 13px;
    font-weight: 500;
    height: 46px;
    line-height: 1;
    padding: 0 14px 0 4px;
}

.nav>li>a .img {
    float: left;
    margin-top: 8px;
    display: inline-block;
}

.nav>li>a .text {
    float: right;
    margin-left: 3px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
}

.webInfo {
    position: fixed;
    top: 150px;
    left: 15%;
    color: #fff;
    width: 400px;
}

.webInfo-title-en{
    font-size: 19px;
}
.webInfo .webInfo-title{
    color: #fff;
    font-size: 38px;
    line-height: 44px;
    padding-bottom: 60px;
    text-shadow: none;
}


.webInfo .webInfo-info {
    font-size: 21px;
    line-height: 40px;
}


/* 登录框 */

.login-register {
    position: fixed;
    right: 100px;
    top: 150px;
    width: 350px;
    height: 50%;
    display: block;
    background: #fff;
    border-radius: 20px;
    // opacity: 1;
}

.banner1-title {
    font-size: 25px;
    padding-bottom: 60px;
    padding-top: 40px;
    text-align: center;
    color: #575757;
}

.login,
.register {
    margin-bottom: 40px;
    position: relative;
    text-align: center;
}

.login-register a {
    padding: 10px 100px;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    font-size: 20px;
    color: #333;
    background: rgba(21, 166, 238, 0.71);
    // background: #15a6ee;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    -webkit-transition: background-color .5s ease-in;
    -moz-transition: background-color .5s ease-in;
    transition: background-color .5s ease-in;
}

.login-register a:hover {
    background: #15a6ee;
    cursor: pointer;
    color: #000;
}


/* 定义模态对话框外面的覆盖层样式 */

#modal-overlay {
    position: fixed;
    /* 使用绝对定位或固定定位  */
    left: 0px;
    top: 45px;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #fff;
    opacity: 0.9;
    z-index: 100;
}


/* 模态框样式 */

h1 {
    font-size: 20px;
}

.tabLeft {
    width: 64px;
    position: absolute;
    top: 0px;
}

.loginPop-box {
    position: fixed;
    top: 45px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.lop-inner {
    position: absolute;
    top: 45px;
    left: 25%;
    width: 660px;
    height: 400px;
    background-color: #fff;
    border-radius: 6px;
    background: 0 0;
}

.lop-content {
    position: relative;
    width: 100%;
    text-align: center;
}

.c-text {
    position: relative;
    margin: 10px 0;
}

.c-text input {
    padding: 8px 0 8px 40px;
    width: 320px;
    font-size: 16px;
    color: #000;
    border: 1px solid #999;
    outline: 0;
    vertical-align: middle;
    display: inline-block;
    border-radius: 60px;
}
.c-text-res-stu input{
    width: 280px;
}
.login-icon {
    position: absolute;
    top: 7px;
    left: 160px;
    width: 22px;
    height: 22px;
}
.c-text .icon-5 {
    background: url(../img/login-icon-05.png) no-repeat;
}

.c-text .icon-4 {
    background: url(../img/login-icon-04.png) no-repeat;
}

.errorTips {
    color: red;
    font-size: 13px;
    left: 520px;
    position: absolute;
    top: 3px;
    height: 21px;
    text-align: center;
}

.c-text .icon-6 {
    background: url(../img/login-icon-06.png) no-repeat;
}

.c-text .icon-7 {
    background: url(../img/login-icon-07.png) no-repeat;
}

.c-text .info {
    color: #666;
}

.c-text .info:hover {
    color: #000;
}

.c-text .info:first-child {
    margin: 0 130px 0 25px;
}

.loginPop-footer {
    margin-top: 50px;
}

.login-btn {
    border: none;
    outline: 0;
    padding: 12px 0;
    display: inline-block;
    width: 350px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    background-color: #000;
    border-radius: 60px!important;
    opacity: 1;
}
.login-btn-res-stu{
    width: 330px;
}
.login-btn:hover {
    background-color: #222;
}

// .pwd-stu-p .index-close {
//     position: absolute;
//     top: 0;
//     right: 30px;
//     width: 50px;
//     height: 50px;
//     background: url(../img/close.png) no-repeat;
//     cursor: pointer;
//     z-index: 200;
// }

// .pwd-tea-p .index-close {
//     position: absolute;
//     top: 0;
//     right: 30px;
//     width: 50px;
//     height: 50px;
//     background: url(../img/close.png) no-repeat;
//     cursor: pointer;
//     z-index: 200;
// }

.index-close {
    position: absolute;
    top: 0;
    right: 30px;
    width: 50px;
    height: 50px;
    background: url(../img/close.png) no-repeat;
    cursor: pointer;
    z-index: 200;
}

//注册界面
.tabLeft {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 64px;
}

.loginBg .lop-inner .lop-content .tabLeft:after {
    position: absolute;
    right: -40px;
    top: 0;
    content: "";
    width: 1px;
    height: 300px;
    background-color: #ccc;
}

.loginBg .lop-inner .lop-content .tabLeft li {
    width: auto;
    cursor: pointer;
    margin-bottom: 35px;
}

.loginBg .lop-inner .lop-content .lop-tab li.stu.active .image {
    width: 60px;
    height: 60px;
    background: url(../img/stuci.png) no-repeat;
}

.loginBg .lop-inner .lop-content .lop-tab li.tea.active .image {
    width: 60px;
    height: 60px;
    background: url(../img/teacherci.png) no-repeat;
}

.JS-selectStudent-main .image {
    width: 60px;
    height: 60px;
    background: url(../img/stu.png) center center no-repeat;
}

.lop-tab li .image-tea {
    width: 60px;
    height: 60px;
    background: url(../img/teacher.png) center center no-repeat;
}

.loginBg .lop-inner .lop-content .lop-tab li.stu.active .side {
    color: #ff7b0a;
}

.loginBg .lop-inner .lop-content .lop-tab li.tea.active .side {
    color: #15a6ee;
}

.loginBg .lop-inner .lop-content .lop-tab li .side {
    line-height: 35px;
}

.lop-tab li .side {
    font-size: 16px;
    color: #333;
    line-height: 55px;
}

.loginBg .lop-inner .contentMar .lop-right {
    padding: 30px 0 0;
}
.loginBg .lop-inner .contentMar .lop-right-res-stu {
    padding: 15px 0 0;
}

.loginBg .lop-inner .lop-content .lop-right {
    margin: 0 0 40px;
    font-size: 16px;
    color: #333;
}

.loginBg .lop-inner .lop-content .login-btn {
    margin: 0;
}

.icon-1 {
    background: url(../img/login-icon-01.png) no-repeat;
}

.icon-2 {
    background: url(../img/login-icon-02.png) no-repeat;
}

.icon-3 {
    background: url(../img/login-icon-03.png) no-repeat;
}

.login-orange,
.login-orange:active,
.login-orange:hover,
.login-orange:visited {
    background-color: #ff7b0a!important;
}

.login-blue,
.login-blue:active,
.login-blue:hover,
.login-blue:visited {
    background-color: #15a6ee!important;
}

.lop-content .c-text .code {
    font-size: 14px;
    color: #fff;
    padding: 4px;
    vertical-align: middle;
    display: inline-block;
    border-radius: 60px;
    cursor: pointer;
}

.lop-content .c-text .JS-teacherSmsCode {
    width: 210px;
    margin-left: -30px;
}

.lop-content .c-text .JS-teacherCaptcha {
    width: 210px;
    margin-left: -35px;
}

#captchaImageLogin {
    color: #000;
    background: #ccc;
    padding: 4px 20px;
    display: inline;
}

//教师注册页面设置密码
.zy-header {
    position: absolute;
    z-index: 9;
    left: 0;
    top: 0;
    width: 100%;
}

.zy-header .rightIn {
    float: right;
    padding: 8px 0;
    margin-right: 20px;
    font-size: 0;
}

.pr-main {
    width: 322px;
    padding: 0;
    margin: 0 auto;
}

.pr-main-teacher .hd {
    padding: 90px 0 0;
    text-align: center;
    color: #4b4b50;
    font-size: 24px;
    line-height: 36px;
    background: url(../img/setPassword-ico-tea.png) 50% 0 no-repeat;
}

.pr-main .main-box {
    padding-top: 10px;
}

.pr-main .main-list,
li,
ol,
ul {
    list-style-type: none;
}

.pr-main .main-list li {
    position: relative;
    zoom: 1;
    margin: 10px 0 0;
    border: 1px solid #999;
    border-radius: 40px;
    background-color: #fff;
    color: #383a4c;
    font-size: 14px;
    line-height: 20px;
}

.pr-main .main-list li input {
    display: block;
    border: 0;
    background: 0 0;
    outline: 0;
    width: 292px;
    padding: 10px 14px;
    border-radius: 40px;
}

.pr-main-teacher .main-list .i-error-info {
    position: absolute;
    top: 50%;
    left: 330px;
    margin: -14px 0 0;
    padding: 4px 10px;
    width: auto;
    white-space: nowrap;
    color: #fff;
    font-size: 12px;
    line-height: 17px;
    background-color: #fa652d;
    border-radius: 40px;
    display: none;
    z-index: 4;
}

.pr-main .submit {
    padding: 10px 0 0;
}

.pr-main-teacher .submit a {
    background-color: #15a6ee;
}

.pr-main-teacher .submit a {
    display: block;
    padding: 13px 0;
    background-color: #15a6ee;
    border-radius: 40px;
    color: #fff;
    font-size: 16px;
    width: 100%;
    text-align: center;
}

a {
    color: #333;
    text-decoration: none;
}

//教师选择学校
.register-tea {
    position: relative;
    top: 60px;
    width: 1100px;
    margin: 0 auto;
}

.select-hd {
    font-size: 20px;
    color: #15a6ee;
    font-weight: bold;
    line-height: 50px;
    margin-bottom: 20px;
}

.select-group .select-title {
    font-size: 20px;
    line-height: 32px;
}

.select-group {
    position: absolute;
    margin-top: 90px;
}

.select-group .item {
    float: left;
    width: 190px;
    margin-right: 30px;
    position: relative;
}

.select-group .item select {
    width: 150px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.select-result .item {
    display: none;
    width: 100px;
    padding: 10px;
    margin: 0 12px;
    font-size: 20px;
    color: #fff;
    background: #15a6ee;
    border-radius: 40px;
}

.select-drop {
    display: inline-block;
    width: 27px;
    height: 16px;
    background: url(../img/drop.png) no-repeat;
    margin-left: -32px;
}

.select-city-drop {
    display: inline-block;
    width: 27px;
    height: 16px;
    background: url(../img/drop.png) no-repeat;
    position: absolute;
    left: 60px;
    top: 42px;
}

.select-township-drop {
    display: inline-block;
    width: 27px;
    height: 16px;
    background: url(../img/drop.png) no-repeat;
    position: absolute;
    top: 42px;
    left: 160px;
}

.select-group .item select::-ms-expand {
    display: none;
}

.city {
    float: left;
    width: 90px!important;
}

.township {
    float: right;
    width: 90px!important;
}
.complete-register{
    width: 1100px;
    position: absolute;
    top: 370px;
    z-index: 1;
    margin: 0 auto;
}

/* 学生注册密码页面 */

.pr-main-child .hd {
    padding: 90px 0 0;
    text-align: center;
    color: #4b4b50;
    font-size: 24px;
    line-height: 36px;
    background: url(../img/setPassword-ico.png) 50% 0 no-repeat;
}

.main-title,
.select-sex {
    font-size: 16px;
}

.pr-main-child .main-list li input {
    display: block;
    border: 0;
    background: 0 0;
    outline: 0;
    width: 292px;
    padding: 10px 14px;
    border-radius: 40px;
}

.pr-main-child .main-class{
    width: 400px;
    position: relative;
    top: 0px;
    left: 160px;
}
.pr-main-child .main-class span {
    float: left;
    _display: inline;
    margin: 0 8px 5px 0;
    padding: 0 0 0 16px;
    color: #333;
    font-size: 14px;
    line-height: 22px;
    background: url(../img/pr-main-radio.png) no-repeat;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pr-main-child .select-sex {
    display: block;
    float: left;
    margin-right: 10px;
}

.pr-main-child .select-sex-item {
    margin-left: -125px;
    display: inline-block;
    padding-top: 4px;
}

.pr-main-child .main-class span.active {
    background-position: 0 -25px;
    color: #ff7b0a;
}

.pr-main-child .main-list li .info-text .code-btn {
    display: inline-block;
    padding: 0 14px;
    background-color: #323232;
    border-radius: 50px;
    color: #fff;
    line-height: 30px;
    position: absolute;
    top: 2px;
    right: 2px;
}

.pr-main-child .submit a {
    display: block;
    padding: 13px 0;
    background-color: #ff7b0a;
    border-radius: 40px;
    color: #fff;
    font-size: 16px;
    width: 100%;
    text-align: center;
}

// transform: translateY(-50%) rotate(180deg);
