
body{
    width: 100%;
    background:url(../images/list_ground.png) no-repeat;
    overflow-x: hidden;
}

a:hover{
    text-decoration: none;
}

hr{
    margin-top: -14px;
    margin-bottom: 12px;
    border: 0;
    border-top: 1px solid #eee;
}
#studycontent li{
    list-style-type: none;
    padding-bottom: 15px;

}

#studycontent ul{
    padding-top: 20px;
    padding-right: 30px;
}


#leftcontent ul li a{
    color:black;
    font-size:20px;
    text-align: center;
}
#leftcontent a:hover{
    color:white;
    text-decoration: none;
}
#rightcontent{
    background: white;
    border-radius: 10px;
    width:950px;
    height:980px;
    position: absolute;
    right:100px;
    top:150px;
    z-index: 1;
}
#title{
    background:rgb(38,159,167);
    position:absolute;
    left:0px;
    top:0px;
    width:950px;
    height:60px;
    border-radius: 10px 10px 0 0;
}
#title ul{
    margin-left:2px;
    margin-top:19px;
}
#title a{
    color: white;
    font-size:14px;

    font-family:"宋体";
}
#title a:hover{
    color:yellow;
    text-decoration: none;
}
#rightcontent p{
    position:absolute;
    left:45px;
    top: 115px;;
    font-size: 16px;
}

#images{
    background: url(../images/list_book.jpg) no-repeat;
    width: 150px;
    height: 178px;
    margin-top: 24px;
    margin-left: 11px;
    border: 2px rgb(44,183,192) solid;
    border-radius: 10px;

}
#content ul{
    margin-left: 14px;
    width: 678px;
}
#studycontent{
    border:1px solid #bbbbbb;
    width:849px;
    height:860px;
    position:absolute;
    left:45px;
    top:95px;
    border-radius:5px;


}
#studycontent ul li{
    color:black;
    font-size:12px;
}
/*二级菜单设置*/

 #chinese{
     margin-left: 250px;
     margin-top:80px;
 }
#math{
    margin-left: 500px;
    margin-top:-28px;
}
#english{
    margin-left: 710px;
    margin-top:-58px;
}
#walk{
    margin-left: 879px;
    margin-top:41px;
}
#garden{
    margin-left: 967px;
    margin-top:-70px;

}
#nav2 a:hover{
    color:yellow;
}
#studycontent a{
    color:green;
}



/*footer*/
.footer{
    background:url(../images/footer.png) no-repeat;
    /*margin-top: auto;*/
    height: 120px;
}
.footer ul{
    width: 42%;
    margin: 1081px auto 0 auto;
    padding-top:20px;
}
.footer ul li{
    list-style-type:none;
    margin-top:17px;
    color:#7d7a7d;

}
#footerli a{
    padding-left:30px;
    margin-left:5px;
    color:#7d7a7d;
}

