/*木质引言*/

body{
    width: 100%;
    background:url(../images/list_ground.png) no-repeat;
}

li{
    list-style-type:none;
    float:right;
    color:white;
}

#leadword{
    position: absolute;
    top:133px;
    left:200px;
}
#play{
    /*background: url(../images/videopic.jpg) no-repeat;*/
    width:1000px;
    height:600px;
    position:absolute;
    left:25px;
    top:25px;
    border-radius: 10px 10px 10px 10px;
}
#play img{
    margin-left: 35%;
    margin-top:20%;
}
/*推荐内容*/


 #video{
     width: 800px;
     height:500px;

     border:3px rgb(38,159,167) solid;
     margin:3% 3% ;
     border-radius: 10px;
 }

#other{
    position:absolute;
    top:600px;
    left:10px;
}
#other div{
    float:right;
    margin-left: 27px;
}








p{
    font-size:20px;
}

#title ul{
    margin-left:2px;
    margin-top:19px;
}
#title a{
    color: white;
    font-size:18px;

    font-family:"幼圆";
}

.footer{
    background:url(../images/footer.png) no-repeat;
    /*margin-top: auto;*/
    height: 120px;
}
.footer ul{
    width: 467px;
    margin: 1281px auto 0 auto;
    padding-top:20px;
}
.footer ul li{
    list-style-type:none;
    margin-top:17px;
    color:#7d7a7d;

}
#footerli a{
    padding-left:30px;
    margin-left:5px;
    color:#7d7a7d;
}




