body {
    width: 100%;
}

.userthumb {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.userthumb {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    // margin-left: 90px;
}

#studycontent ol {
    margin-top: 25px;
    margin-left: 290px;
}
#studycontent li {
    color: black;
    padding-top: 25px;
    font-size: 16px;
    padding-left: 10px;
}

.btn {
    margin-left: -20px;
}
