
        <div class="col-md-10 col-md-offset-2 ">
            <ol class="breadcrumb">
                <li><a href="#">首页</a></li>
            </ol>
            <div class="row pad">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="__PUBLIC__/end/images/main1.gif" width="63" height="63" class="pull-left img1">
                            <div class=" nr">
                                <h5>教师列表<span>2014-06-22</span></h5>
                                <p>用于查看教师信息，包括姓名、教师号、班级、学科，并且可以对教师信息进行修改、删除</p>
                            </div>
                            <button type="button" class="btn btn-primary pull-right">点击进入
                                <span class="glyphicon glyphicon-circle-arrow-right"></span>
                            </button>
                            <span class="info">已经存在：<span class="red">8249</span>条</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="__PUBLIC__/end/images/main2.gif" width="63" height="63" class="pull-left img1">
                            <div class=" nr">
                                <h5>资源列表<span>2014-06-22</span></h5>
                                <p>用于查看资源信息，包括资源名称、封面、发布人、添加时间、简述，并且可以对资源进行修改、删除</p>
                            </div>
                            <button type="button" class="btn btn-primary pull-right">点击进入
                                <span class="glyphicon glyphicon-circle-arrow-right"></span>
                            </button>
                            <span class="info">已经存在：<span class="red">8249</span>条</span>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <script src="__PUBLIC__/end/js/jquery-ui.js"></script>
    <script>
    $("#accordion").accordion({
        heightStyle: "content"
    });
    </script>
</body>

</html>
