a:link {
    color: black;
}

a:visited {
    color: black;
}

body {
    background-color: RGB(189, 235, 141)!important;
    overflow-x: hidden;
}

.userthumb{
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.item ul li a {
    color: white;
}

#header {
    background-color: white;
    border: solid 1px RGB(234, 234, 234);
    height: 60px;
}


/*导航*/

#logo {
    margin-top: 10px;
    padding-left: 115px;
}

#nav {
    padding-left: 18px;
    margin-top: 8px;
}

#nav li {
    float: left;
    list-style-type: none;
    padding-top: 10px;
}

#new {
    padding-left: 5px;
}

#circle {
    padding-left: 3px;
    margin-top: -7px;
}

#drop {
    padding: 0 0 0 3px;
    margin: 0;
}

#navbarDrop1 {
    width: 100px;
    border: solid 1px RGB(187, 187, 187);
    border-radius: 4px;
    color: black;
    float: left;
}

#navbarDrop2 {
    // padding: 0 30px;
    padding-right: 20px;
}

#navbarDrop3 {
    min-width: 0px;
}


/*老师信息*/

#content {
    height: auto;
    margin-bottom:30px;
}

#content_left1 {
    padding-left: 150px;
    padding-top: 35px;
}

#left1 {
    background-color: white;
    width: 146px;
    height: 110px;
}

#pic {
    margin-top: 2px;
    padding-top: 15px;
}

#left2 {
    font-size: 12px;
    margin-top: 2px;
}

#tec {
    padding: 15px 0 0 0;
    margin: 0;
    float: left;
}

.progress {
    height: 8px!important;
    width: 16px;
    float: right;
    padding: 0;
    margin: 0!important;
    margin-top: 5px;
}

.progress-bar {
    width: 50%!important;
}

#lvo {
    padding: 0;
    margin: 0;
}

#flower {
    padding: 0;
    margin: 0;
    float: left;
}

#zheng {
    background-color: white;
    border: solid 1px gray;
    border-radius: 8px;
}


/*手风琴*/

#list {
    padding: 0;
}

.list-group li {
    list-style-type: none;
    width: 143px;
    font-size: 16px;
}

.list-group li a:link {
    color: white;
}

.list-group li a:visited {
    color: white;
}

.list-group .panel-heading {
    background-color: RGB(156, 204, 101)!important;
}

.panel-heading {
    list-style-type: none;
    outline: RGB(124, 179, 66) dotted 2px;
    font-size: 17px;
    color: red;
    text-align: center;
    width: 143px;
    height: 30px;
    padding-top: 3px;
}

#test {
    color: white;
    padding-top: 4px;
    padding-left: 16px;
}

.panel-body {
    padding: 0!important;
}

.homeworkList_e {
    padding-left: 0;
}

.homeworkList_e li {
    list-style-type: none;
    background-color: RGB(43, 175, 43);
    outline: RGB(124, 179, 66) dotted 2px;
    margin: 0;
    text-align: center;
}

.list-group-item {
    margin-left: 0;
}


/*内容右侧*/

#right {
    padding-left: 0;
}

#content_h {
    background-color: white;
    border: solid 3px RGB(187, 187, 187);
    border-radius: 10px;
    margin-top: 35px;
    margin-left: 46px;
}

#content_h li {
    list-style-type: none;
    font-size: 14px;
    padding-top: 35px;
    padding-left: 160px;
}

.userthumb {
    margin-left: 40px;
}

#upfile{
    visibility: hidden; 
    position: absolute;
}

#tea_name2 {
    border-radius: 5px;
    border: solid 1px RGB(187, 187, 187);
}

#navbarDrop4 {
    border: solid 1px RGB(187, 187, 187);
    width: 100px;
    background-color: white;
    border-radius: 4px;
    color: black;
    // float:right;
    // margin-right:236px;
}

#navbarDrop5 {
    padding: 0 15px;
    padding-right: 50px;
}

#navbarDrop6 {
    min-width: 0px;
    margin-left: 227px;
    width: 100px;
}

#navbarDrop6 li {
    float: left;
    padding: 0;
}

#bir {
    text-align: center;
    border-radius: 5px;
    border: solid 1px RGB(187, 187, 187);
}

#save {   
    margin-bottom: 45px;
    margin-left:50px;
}

#save2 {
    background-color: RGB(41, 182, 246);
    border-radius: 5px;
    border: solid 1px RGB(187, 187, 187);
    text-align: center;
    height: 40px
}

#footer {
    background-color: white;
    border: solid 1px RGB(234, 234, 234);
    color: gray;
    font-size: 12px;
    text-align: center;
    height: 70px;
}

#footer1 {
    padding-top: 15px;
}

#footer2 {
    padding-left: 45px;
}

.footer_nav{
    margin-left:45px;
}

.footer_nav li {
    list-style-type: none;
    float: left;
    padding-left: 20px;
}
