
    <div class="webInfo">
        <h1 class="webInfo-title">欢迎使用未来之星<p class="webInfo-title-en">Welcome To FutureStar</p></h1>
        <p class="webInfo-info">为学前儿童打造的在线学习平台</p>
        <p class="webInfo-info">串联教师、学生、家长三方的教与学关系</p>
    </div>
    <div class="login-register">
        <p class="banner1-title">未来之星-教育助你成长</p>
        <p class="login"><a href="__URL__/login">登录</a></p>
        <p class="register"><a href="__URL__/resStu">注册</a></p>
    </div>
    <div class="body-footer">
        <ul class="clearfloat">
            <li class="footerli"><a href="__APP__/admin/">后台管理</a></li>
            <li class="footerli"><a href="#">关于我们</a></li>
            <li class="footerli"><a href="#">各界声音</a></li>
            <li class="footerli"><a href="#">加入我们</a></li>
        </ul>
        <p>Copyright &copy; 2016 futurestar Corporation. All Rights Reserved.</p>
    </div>
</body>

</html>
