<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>语文印象</title>
    <link rel="stylesheet" href="__PUBLIC__/front/student/css/bootstrap.min.css">
    <link href="__PUBLIC__/front/student/css/nav.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/front/student/css/chinese.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/front/student/css/personinfo.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC__/front/student/css/bootstrap-datetimepicker.min.css">
    <script src="__PUBLIC__/front/student/js/jquery.js"></script>
    <script src="__PUBLIC__/front/student/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/front/student/js/bootstrap-datetimepicker.fr.js"></script>
    <script src="__PUBLIC__/front/student/js/bootstrap-datetimepicker.js"></script>
</head>

<body>
    <!--导航栏部分-->
    <div class="col-md-12 col-lg-8" id="nav">
        <ul>
            <li><a href="__URL__/index.html">首页</a></li>
            <li><a href="__URL__/chinese.html">学习中心</a></li>
            <li><a href="__URL__/pk.html">竞技场</a></li>
            <li><a href="__URL__/classspace.html">班级天地</a></li>
            <li><a href="__URL__/parentspace.html">家长空间</a></li>
            <li><a href="__URL__/gift.html">奖品</a></li>
            <li>
                <a href="#"><img src="__PUBLIC__/front/student/images/email.png" /></a>
            </li>
            <li>
                <a href="__URL__/studycontent"><img src="__PUBLIC__/front/student/images/headpic.jpg" class="img-circle" /></a>
                <!-- <ul>
                 <li><a href="#">个人信息</a></li>
                 <li><a href="#">上传</a></li>
                 <li><a href="#">退出</a></li>
             </ul>-->
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="row clearfix">
                    <div class="col-md-2 column">
                    </div>
                </div>
                <!--左侧内容-->
                <div id="nav2">
                    <div id="chinese"><a href="__URL__/personcenter.html">个人资料</a></div>
                    <div id="math"><a href="__URL__/changeinform.html">修改信息</a></div>
                    <div id="english">
                        <a href="__URL__/english.html"></a>
                    </div>
                    <div id="walk">
                        <a href="__URL__/walktolisten.html"></a>
                    </div>
                    <div id="garden">
                        <a href="__URL__/classgarden.html"></a>
                    </div>
                </div>
                <!--右侧内容-->
                <div class="row clearfix">
                    <div id="rightcontent">
                        <div id="title">
                            <ul>
                                <a href="#">修改信息</a>
                            </ul>
                        </div>
                        <div id="studycontent">
                            <form method="post" enctype="multipart/form-data">
                                <input type="hidden" name="id" value="{$student.id}">
                                <div class="col-md-12 column" id="content_h">
                                    <ol>
                                        <li style="padding-left:20px">
                                            <img class="userthumb" title="{$student.realname}" alt="头像" src="{$student.thumb}" onclick="upfile.click()" />
                                            <input type="file" name="thumb" id="upfile" onchange="uploadFile()" style="visibility: hidden; position: absolute;">
                                        </li>
                                        <li style="padding-left:30px">{$student.realname}</li>
                                        <li>学号：{$student.id}</li>
                                        <li>金币：{$student.starnum}</li>
                                        <li>姓名：
                                            <input name="realname" value="{$student.realname}" style="border-radius:5px;border:solid 1px RGB(187,187,187)" type="text" />
                                        </li>
                                        <li>性别：{$student.sex}
                                        </li>
                                        <li>出生日期：
                                            <input name="birthday" size="16" type="text" value="{$student.birthday}" class="form_datetime" style="text-align:center;border-radius:5px;border:solid 1px RGB(187,187,187)">
                                            <script type="text/javascript">
                                            $(".form_datetime").datetimepicker({
                                                format: 'yyyy-mm-dd hh:ii'
                                            });
                                            </script>
                                        </li>
                                        <li>学校：{$student.school}</li>
                                        <li>年级：{$student.grade}</li>
                                        <li style="padding-left:30px">
                                            <input type="submit" class="btn btn-info btn-lg" value="保存资料">
                                            <!-- <a href="__URL__/addInfo">
                                                <button type="button" class="btn btn-info btn-lg">保存资料</button>
                                            </a> -->
                                        </li>
                                    </ol>
                                </div>
                            </form>
                        </div>
                    </div>
                    <style>
                    #studycontent ol {
                        margin-top: 25px;
                        margin-left: 300px;
                    }
                    
                    #studycontent li {
                        color: black;
                        padding-top: 25px;
                        font-size: 16px;
                    }
                    </style>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!--页脚-->
    <div class="footer">
        <ul>
            <li>Copyright © 2011-2016 futurestar Corporation. All Rights Reserved.</li>
            <div>
                <li id="footerli">
                    <a href="__APP__/admin">后台管理</a>
                    <a href="#">关于我们</a>
                    <a href="#">各界声音</a>
                    <a href="#">加入我们</a>
                </li>
            </div>
        </ul>
    </div>
</body>

</html>
