<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>个人信息</title>
    <link rel="stylesheet" href="__PUBLIC__/front/student/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 800px) and (max-device-width: 1100px)" href="__PUBLIC__/front/student/css/chinese1024.css" />
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 1240px) and (max-device-width: 2000px)" href="__PUBLIC__/front/student/css/chinese.css" />
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 800px) and (max-device-width: 1100px)" href="__PUBLIC__/front/student/css/nav1024.css" />
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 1240px) and (max-device-width: 2000px)" href="__PUBLIC__/front/student/css/nav.css" />
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 800px) and (max-device-width: 1100px)" href="__PUBLIC__/front/student/css/personinfo1024.css" />
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 1240px) and (max-device-width: 2000px)" href="__PUBLIC__/front/student/css/personinfo.css" />
</head>

<body>
    <!--导航栏部分-->
    <div class="col-md-12 col-lg-8" id="nav">
        <ul>
            <li><a href="__URL__/index.html">首页</a></li>
            <li><a href="__URL__/chinese.html">学习中心</a></li>
            <li><a href="__URL__/pk.html">竞技场</a></li>
            <li><a href="__URL__/classspace.html">班级天地</a></li>
            <li><a href="__URL__/parentspace.html">家长空间</a></li>
            <li><a href="__URL__/gift.html">奖品</a></li>
            <li>
                <a href="#"><img src="__PUBLIC__/front/student/images/email.png" /></a>
            </li>
            <li><a href="__URL__/personcenter"><img src="{$current.thumb}" class="nav-img img-circle"/></a>
                <!-- <ul>
                 <li><a href="#">个人信息</a></li>
                 <li><a href="#">上传</a></li>
                 <li><a href="#">退出</a></li>
             </ul>-->
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="row clearfix">
                    <div class="col-md-2 column">
                    </div>
                </div>
                <!--左侧内容-->
                <div id="nav2">
                    <div id="chinese"><a href="__URL__/personcenter.html">个人资料</a></div>
                    <div id="math"><a href="__URL__/changeinform.html">修改信息</a></div>
                </div>
                <!--右侧内容-->
                <div class="row clearfix">
                    <div id="rightcontent">
                        <div id="title">
                            <ul>
                                <a href="#">个人资料</a>
                            </ul>
                        </div>
                        <div id="studycontent">
                            <div class="col-md-12 column" id="content_h">
                                <ol>
                                    <li style="padding-left:20px">
                                        <img class="userthumb" src="{$user.thumb}" alt="头像" title="{$user.realname}" />
                                    </li>
                                    <li style="padding-left:30px">{$user.realname}</li>
                                    <li>学号：{$user.id}</li>
                                    <li>金币：{$user.starnum}</li>
                                    <li>姓名：{$user.realname}</li>
                                    <li>性别：{$user.sex}</li>
                                    <li>出生日期：{$user.birthday}</li>
                                    <li>学校：{$user.school}</li>
                                    <li>年级：{$user.grade}</li>
                                    <li>
                                        <a href="__URL__/changeinform.html">
                                            <button style="background-color:white;border-radius:5px;border:solid 1px RGB(187,187,187);text-align:center;height:40px">修改资料</button>
                                        </a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--页脚-->
    <div class="footer">
        <ul>
            <li>Copyright © 2011-2016 futurestar Corporation. All Rights Reserved.</li>
            <div>
                <li id="footerli">
                    <a href="__APP__/admin">后台管理</a>
                    <a href="#">关于我们</a>
                    <a href="#">各界声音</a>
                    <a href="#">加入我们</a>
                </li>
            </div>
        </ul>
    </div>
</body>

</html>
