
        <div class="col-md-10 col-md-offset-2 ">
            <ol class="breadcrumb">
                <li><a href="main.html">首页</a></li>
                <li><a href="#">教师管理</a></li>
                <li class="active">教师管理</li>
            </ol>
            <div class="table-responsive ">
                <h3>教师管理列表 <small>Teacher List</small></h3>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table  table-striped table-hover ">
                    <tr>
                        <th width="5%">
                            <input type="checkbox" name="checkbox10" id="checkbox10">
                        </th>
                        <th width="10%">姓名</th>
                        <th width="3%">性别</th>
                        <th width="7%">教师号</th>
                        <th width="10%">班级</th>
                        <th width="7%">学科</th>
                        <th width="15%">地区</th>
                        <th width="12%">操作</th>
                    </tr>
                    <volist name="user" id="t">
                        <tr>
                            <td>
                                <input type="checkbox" name="checkbox" id="checkbox">
                                <label for="checkbox"></label>
                            </td>
                            <td>{$t.name}</td>
                            <td>{$t.sex}</td>
                            <td>{$t.teacher_id}</td>
                            <td>{$t.grade}</td>
                            <td>{$t['teacher']['subject']}</td>
                            <td>{$t.location}</td>
                            <td><a href="__MODULE__/T/edit/id/{$t.teacher_id}">修改</a>
                                <a href="#"></a> <a href="__MODULE__/T/del/id/{$t.teacher_id}">删除</a></td>
                        </tr>
                    </volist>
                </table>
            </div>
            <div class="input-group pull-left form">
                <button type="submit" class="btn btn-danger "> 删 除</button>
            </div>
            <ul class="pagination pull-right">
                <div class="page">{$page}</div>
            </ul>
        </div>
    </div>
    
