 a:link {
     color: black;
 }
 
 a:visited {
     color: black;
 }
 
 #header {
     background-color: white;
     border: solid 1px RGB(234, 234, 234);
     height: 60px;
 }
 
 #content {
     border: solid 1px RGB(234, 234, 234);
 }
 
 #homework {
     background-color: RGB(214, 214, 214);
     border-radius: 20px;
     border: solid 1px gray;
     width: 160px;
     height: 450px;
     padding-right: 50px;
     margin: 50px 30px 0 15px;
 }
 
 .bs-example-popover .popover {
     background-color: RGB(141, 250, 105);
     display: block;
     float: right;
     width: 240px;
     margin-left: 105px;
     margin-top: 20px;
     font-size: 10px;
 }
 /*手风琴*/
 
 .list-group li {
     list-style-type: none;
     width: 143px;
     font-size: 16px;
 }
 
 .list-group li a:link {
     color: white;
 }
 
 .list-group li a:visited {
     color: white;
 }
 
 .list-group .panel-heading {
     background-color: RGB(156, 204, 101);
 }
 
 .panel-heading {
     list-style-type: none;
     outline: RGB(124, 179, 66) dotted 2px;
     font-size: 17px;
     color: red;
     text-align: center;
     width: 143px;
     height: 30px;
     padding-top: 3px;
 }
 
 .homeworkList_e li {
     list-style-type: none;
     background-color: RGB(43, 175, 43);
     outline: RGB(124, 179, 66) dotted 2px;
     margin: 0;
     text-align: center;
 }
 
 #nav li {
     float: left;
     list-style-type: none;
     padding-top: 10px;
 }
 
 #footer {
     background-color: white;
     border: solid 1px RGB(234, 234, 234);
     color: gray;
     font-size: 12px;
     text-align: center;
     height: 70px;
 }
 
 .footer_nav li {
     list-style-type: none;
     float: left;
     padding-left: 20px;
 }
