a:link {
    color: black;
}

a:visited {
    color: black;
}

.item ul li a {
    color: white;
}

#header {
    background-color: white;
    border: solid 1px RGB(234, 234, 234);
    height: 60px;
}


/*手风琴*/

.list-group li {
    list-style-type: none;
    width: 143px;
    font-size: 16px;
}

.list-group li a:link {
    color: white;
}

.list-group li a:visited {
    color: white;
}

.list-group .panel-heading {
    background-color: RGB(156, 204, 101);
}

.panel-heading {
    list-style-type: none;
    outline: RGB(124, 179, 66) dotted 2px;
    font-size: 17px;
    color: red;
    text-align: center;
    width: 143px;
    height: 30px;
    padding-top: 3px;
}

.homeworkList_e li {
    list-style-type: none;
    background-color: RGB(43, 175, 43);
    outline: RGB(124, 179, 66) dotted 2px;
    margin: 0;
    text-align: center;
}

#nav li {
    float: left;
    list-style-type: none;
    padding-top: 10px;
}

#content_h1 {
    background-color: white;
    border: solid 1px RGB(187, 187, 187);
    border-radius: 10px;
    margin-top: 35px;
}

#content_h2 {
    background-color: white;
    border: solid 1px RGB(187, 187, 187);
    border-radius: 10px;
    margin-top: 25px;
}

#check li {
    list-style-type: none;
    float: left;
    padding-top: 15px;
}

#check li a {
    padding-right: 40px;
}

.star li {
    list-style-type: none;
    float: left;
    border: solid 1px RGB(187, 187, 187);
    height: 80px;
    width: 130px;
    text-align: center;
    padding-top: 20px;
    margin-top: 10px;
}

.study li {
    list-style-type: none;
    float: left;
}

#footer {
    background-color: white;
    border: solid 1px RGB(234, 234, 234);
    color: gray;
    font-size: 12px;
    text-align: center;
    height: 70px;
}

.footer_nav li {
    list-style-type: none;
    float: left;
    padding-left: 20px;
}
